<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

üí´ `immutable` => `can't be changed` <br>
üí´ `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‚Äòa‚Äô, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'

a = []

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a

print(type(a))

<class 'list'>

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
print(len(languages))

5

Using for loop iterate and print all the elements in the list

In [6]:
for i in range(len(languages)):
    print(languages[i])

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp = languages[1]

Print the value of temp and type(temp)

In [8]:
print(temp)
print(type(temp))

Python
<class 'str'>

Append the element 'Java' in the list

In [9]:
languages.append("Java")

Remove the element 42 from the list and print the list

In [10]:
languages.remove(42)
print(languages)

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‚ÄòRed‚Äô, ‚ÄòBlue‚Äô, ‚ÄòWhite‚Äô]

In [11]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [12]:
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [13]:
colors.insert(1,'Orange')

Print the list

In [14]:
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‚ÄòGrey‚Äô, ‚ÄòSky Blue‚Äô]

In [15]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [16]:
colors.extend(colors2)

Print len of colors and its elements

In [17]:
print(len(colors))

7

Sort the list and print it.

In [18]:
colors.sort()
print(colors)

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‚ÄòCoronavirus Caused Lockdowns Around The World.‚Äù

In [19]:
sent = "Coronavirus Caused Lockdowns Around The World."
print(sent)

Coronavirus Caused Lockdowns Around The World.

Use split function to convert the string into a list of words and save it in variable words and print the same

In [20]:
words = sent.split()
print(words)

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [21]:
words_lower = [word.lower() for word in words]
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‚Äòcountry‚Äô is in the list

In [22]:
if "country" in words_lower:
    print("country is present in the list")
else:
    print("country is not present in the list")

country is not present in the list

Remove the element ‚Äòthe‚Äô from the list and print the list.

In [23]:
words_lower.remove('the')
print(words_lower)

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [24]:
x4 = words_lower[0:4]

In [25]:
# print x4

print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [26]:
covid = " ".join(words_lower)

print(covid)

coronavirus caused lockdowns around world.

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [27]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [28]:
print(len(stud_grades))

6

Create a new variable, stud_grades_set = set(stud_grades)

In [29]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [30]:
print(stud_grades_set)

{'B', 'A', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [31]:
print(type(stud_grades))
print(type(stud_grades_set))

print("List elements:")
for grade in stud_grades:
    print(grade)

print("Set elements:")
for grade in stud_grades_set:
    print(grade)

<class 'list'>
<class 'set'>
List elements:
A
A
B
C
C
F
Set elements:
B
A
C
F

Add a new element ‚ÄòG‚Äô to stud_grades_set

In [32]:
stud_grades_set.add('G')
print(stud_grades_set)

{'B', 'G', 'A', 'C', 'F'}

Add element 'F' to stud_grades_set. and print it.

In [33]:

stud_grades_set.add('F')
print(stud_grades_set)

{'B', 'G', 'A', 'C', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‚ÄòF‚Äô from stud_grades_set

In [34]:
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [35]:

print(stud_grades_set)
print(len(stud_grades_set))

{'B', 'G', 'A', 'C'}
4

### Create colors = [‚Äòred‚Äô,‚Äôblue‚Äô,‚Äôorange‚Äô], and fruits = [‚Äòorange‚Äô,‚Äôgrapes‚Äô,‚Äôapples‚Äô]

In [36]:
colors = ['red', 'blue', 'orange']
fruits = ['orange', 'grapes', 'apples']

Print color and fruits

In [37]:

print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [38]:
colors_set = set(colors)
fruits_set = set(fruits)

print(fruits_set)
print(colors_set)

{'grapes', 'apples', 'orange'}
{'blue', 'orange', 'red'}

Find the union of both the sets.

In [39]:
z = colors_set.union(fruits_set)

print(z)

{'apples', 'orange', 'grapes', 'blue', 'red'}

Find the intersection of both the sets

In [40]:
z = colors_set.intersection(fruits_set)
print(z)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [41]:
z = fruits_set.difference(colors_set)
print(z)

{'grapes', 'apples'}

## TUPLES

### Create temp = [17, ‚ÄôVirat‚Äô, 50.0]

In [42]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [43]:
for item in temp:
    print(item)

17
Virat
50.0

replace first element with 11 in temp

In [44]:
temp[0] = 11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [45]:
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [46]:
for item in temp1:
    print(item)

11
Virat
50.0

replace first element with 17 in temp1

In [47]:
# changing the tuple into list then replace the element and back change to tuple

temp_list = list(temp1)
temp_list[0] = 17
temp1 = tuple(temp_list)
print(temp1)

(17, 'Virat', 50.0)

### Create city = ("Bangalore", 28.9949521, 72)

In [48]:
city = ("Banglore", 28.9949521, 72)

Print first element of city

In [49]:
print(city[0])

Banglore

Create city2 = (‚ÄòChennai‚Äô, 30.01, 74)

In [50]:
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [51]:
cities = city + city2

Print cities

In [52]:
print(cities)

('Banglore', 28.9949521, 72, 'Chennai', 30.01, 74)

Print type of first element in cities

In [53]:
print(type(cities[0]))

<class 'str'>

print the type of cities

In [54]:
print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [55]:
d = {"actor":"amir", "animal":"cat", "earth":"2", "list":[23,32,12]}

Print the value of d[0]

In [56]:
print(d.get("actor"))

amir

Store the value of d[‚Äòactor‚Äô] to a new variable actor.

In [57]:
# print(type(d))

actor = d.get("actor")
print(actor)

amir

Print the type of actor

In [58]:
print(type(actor))

<class 'str'>

Store the value of d[‚Äòlist‚Äô] in new variable List.

In [59]:
List = d["list"]

print(List)

[23, 32, 12]

Print the type of List.

In [60]:
print(type(List))

<class 'list'>

Create d1 = { ‚Äòsinger‚Äô : ‚ÄòKr$na‚Äô , ‚Äòalbum‚Äô: ‚ÄòStill here‚Äô, ‚Äògenre‚Äô : ‚Äòhip-hop‚Äô}

In [61]:
d1 = {'singer':'Kr$na', 'album':'Still here', 'genre':'hip-hop'}

Merge d1 into d.

In [62]:
d.update(d1)

print d

In [63]:
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': '2', 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [64]:
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [65]:
print(d.values())

dict_values(['amir', 'cat', '2', [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [66]:
for key, value in d.items():
    print(f"({key} ------> {value})")

(actor ------> amir)
(animal ------> cat)
(earth ------> 2)
(list ------> [23, 32, 12])
(singer ------> Kr$na)
(album ------> Still here)
(genre ------> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [67]:
sent="sent"
char_count = {}
for char in sent:
    if char != " ": 
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
print(char_count)

{'s': 1, 'e': 1, 'n': 1, 't': 1}

In [68]:
sent = "Coronavirus Caused Lockdowns Around The World."

char_count = {}

# count characters
for ch in sent:
    ch_upper = ch.upper()
    
    if ch_upper in char_count:
        char_count[ch_upper] += 1
    else:
        char_count[ch_upper] = 1

# print result
for key, value in char_count.items():
    print(f"{key} -----> {value}")

C -----> 3
O -----> 6
R -----> 4
N -----> 3
A -----> 3
V -----> 1
I -----> 1
U -----> 3
S -----> 3
  -----> 5
E -----> 2
D -----> 4
L -----> 2
K -----> 1
W -----> 2
T -----> 1
H -----> 1
. -----> 1